Please look through the following query and the Relevant Files.
Identify all locations that need inspection or editing to fix the problem, including directly related areas as well as any potentially related global variables, functions, and classes.
For each location you provide, either give the name of the class, the name of a method in a class, the name of a function, or the name of a global variable.

### Query ###

{{ .Query }}

### Relevant Files ###

{{ .FileContents }}

###

Please provide the complete set of locations as either a class name, a function name, or a variable name.
Note that if you include a class, you do not need to list its specific methods.
You can include either the entire class or don't include the class name and instead include specific methods in the class.
### Examples Python:
```
full_path1/file1.py
function: my_function_1
class: MyClass1
function: MyClass2.my_method

full_path2/file2.py
variable: my_var
function: MyClass3.my_method

full_path3/file3.py
function: my_function_2
function: my_function_3
function: MyClass4.my_method_1
class: MyClass5
```

### Examples Go:

```
full_path1/file1.go
function: myFunction1
function: myFunction2
variable: myVar1

full_path2/file2.go
function: myFunction3

full_path3/file3.go
function: myFunction4
function: myFunction5
```

Return just the locations wrapped with ```.
