Please look through the following query and Repository structure and provide a list of folders that are irrelevant to fixing the problem.
Note that irrelevant folders are those that do not need to be modified and are safe to ignored when trying to solve this problem.

### Query ###

{{ .Query }}

###

### Repository Structure ###

{{ .RepoStructure }}

###

Please only provide the full path.
Remember that any subfolders will be considered as irrelevant if you provide the parent folder.
Please ensure that the provided irrelevant folders do not include any important files needed to fix the problem
The returned folders should be separated by new lines and wrapped with ```.
For example:
```
folder1/
folder2/folder3/
folder4/folder5/
```
