Please look through the following query and Repository structure and provide a list of files that one would need to edit to fix the problem.

### Query

{{ .Query }}

### Repository Structure

{{ .RepoStructure }}

Please only provide the full path and return at most 5 files.
The returned files should be separated by new lines ordered by most to least important.
For example:
```
file1.py
file2.py
```
